/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
	--item-border-radius: 7px;
}

body {
	font: message-box;
	font-size: 12px;
}

/* Tab Item */

/* Tab GroupItem */

body.classic .groupItem,
.expandedTray,
.undo:not(.inGroupSelector) {
	border-radius: var(--item-border-radius);
}

/* Side buttons */

body:-moz-any(.classic,[lwtheme]) #actions {
	border-top-color: ThreeDHighlight;
}

body.classic #actions {
	border-radius: 0 0 0 var(--item-border-radius);
}

body.classic #actions:-moz-locale-dir(rtl) {
	border-radius: 0 0 var(--item-border-radius) 0;
}
