/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
@media (prefers-color-scheme: dark) {
@-moz-document url("chrome://browser/content/browser.xhtml") {
	.tabGroups-quickaccess-panel-footer > toolbarbutton.tabGroups-quickaccess-panel-manage,
	#tabGroups-tabview-button {
		list-style-image: url("chrome://tabgroups-os/skin/Toolbar-inverted@2x.png");
	}

	toolbar[brighttext] #tabGroups-tabview-button {
		list-style-image: url(chrome://tabgroups-os/skin/Toolbar-inverted@2x.png);
	}

	#tabGroups-tabview-button[cui-areatype="panel"],
	toolbarpaletteitem[place="palette"] > #tabGroups-tabview-button {
		list-style-image: url(chrome://tabgroups-os/skin/menuPanel@2x.png);
	}

	#main-window:is([tabsintitlebar], [customtitlebar]):not([inFullscreen]) :-moz-any(#TabsToolbar, #toolbar-menubar) > toolbarpaletteitem > #tabGroups-tabview-button:-moz-system-metric(windows-classic):not(:-moz-lwtheme),
	#main-window:is([tabsintitlebar], [customtitlebar]):not([inFullscreen]) :-moz-any(#TabsToolbar, #toolbar-menubar) > #tabGroups-tabview-button:-moz-system-metric(windows-classic):not(:-moz-lwtheme) {
		position: relative;
		z-index: 1;
		list-style-image: url("chrome://tabgroups-os/skin/Toolbar-inverted@2x.png");
	}

	@media (-moz-windows-glass) {
		/* Use inverted icons for glassed toolbars */
		#toolbar-menubar > toolbarpaletteitem > #tabGroups-tabview-button:not(:-moz-lwtheme),
		#toolbar-menubar > #tabGroups-tabview-button:not(:-moz-lwtheme),
		#TabsToolbar > toolbarpaletteitem > #tabGroups-tabview-button:not(:-moz-lwtheme),
		#TabsToolbar > #tabGroups-tabview-button:not(:-moz-lwtheme) {
			list-style-image: url("chrome://tabgroups-os/skin/Toolbar-inverted.png");
		}
		@media (min-resolution: 1.25dppx) {
			/* Use inverted icons for glassed toolbars */
			#toolbar-menubar > toolbarpaletteitem > #tabGroups-tabview-button:not(:-moz-lwtheme),
			#toolbar-menubar > #tabGroups-tabview-button:not(:-moz-lwtheme),
			#TabsToolbar > toolbarpaletteitem > #tabGroups-tabview-button:not(:-moz-lwtheme),
			#TabsToolbar > #tabGroups-tabview-button:not(:-moz-lwtheme) {
				list-style-image: url("chrome://tabgroups-os/skin/Toolbar-inverted@2x.png");
			}
		}
	}

	.tabGroups-quickaccess-panel-footer > toolbarbutton.tabGroups-quickaccess-panel-settings {
		filter: invert(100%);
	}
}

@-moz-document url("chrome://tabgroups/content/tabview.xhtml") {
	body {
		font: message-box;
		color: rgb(166,166,166);
		font-size: 13px;
		background-color: rgb(24,24,24);
	}

	body:not(:-moz-system-metric(windows-compositor)) {
		background-color: rgb(24,24,24);
	}
}
}